.customLineBreak {
  width: min(100%, 800px);
  height: 2px;
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),     /* transparent white at the left edge */
    rgba(255, 255, 255, 255) 30%, /* solid white at 30% from left */
    rgba(255, 255, 255, 255) 70%, /* solid white until 70% from left */
    rgba(255, 0, 0, 0)      /* transparent white at the right edge */
  );
  margin-block: 20px;
  display: block;
}
