.customLineBreak {
  width: min(100%, 800px);
  height: 2px;
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),     /* transparent white at the left edge */
    var(--color-primary) 30%, /* solid var(--color-primary) at 30% from left */
    var(--color-primary) 70%, /* solid var(--color-primary) until 70% from left */
    rgba(255, 0, 0, 0)      /* transparent white at the right edge */
  );
  margin-block: 20px;
  display: block;
}
