.nav {
  // background-color:var(--color-neutral-white); // Any page
  background-color: var(--color-tertiary); // Home page

  padding: 16px 32px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__links-container {
    // color: var(--color-tertiary); // Any page
    color: var(--color-neutral-white); // Home page
    font-family: var(--font-leagueSpartan);
    text-align: center;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 6px;

    li {
      cursor: pointer;

      a {                
        padding: 2px 10px;

        display: inline-block;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &__inactive {
      color: var(--color-neutral-white);
    }

    &__active {
      color: var(--color-primary);
    }

    @media (hover: hover) {
      &__inactive:hover {
        color: var(--color-primary); //  Any page
      }
    }
  }
}
